RewriteEngine On



RewriteRule ^find-user/?$ ./pin_ver.php
RewriteRule ^register-user/?$ ./index.php
RewriteRule ^process-form/?$ ./assets/inc/process.inc.php

RewriteCond %{HTTP_HOST} ^(www.)?aitechma.faritetech.com$
RewriteCond %{REQUEST_URI} !^/public/ 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /public/$1 
RewriteCond %{HTTP_HOST} ^(www.)?aitechma.faritetech.com$ 
RewriteRule ^(/)?$ public/ [L] 
Options +SymLinksIfOwnerMatch

#Deny folder files listing
Options -Indexes

